*{
    padding: 0;
    margin: 0;
}
h2{
  color: #ffffff;
}

body{
    background-image: linear-gradient(180deg,#333333,rgb(150, 150, 150));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.space{
  padding: 80px;
}

.card{
  background-color: #333333;
  border-radius: 10%;
}
.musicImage{
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.musicName{
  color: #ffffff;
  margin-top: 0;
  font-size: larger;
  font-weight: 700;
  white-space: nowrap;
  display: block;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}


.navbar-brand{
    font-family: 'Dongle', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Supermercado One', cursive;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #002f8b;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #000000; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }

  .fa-heart{
    font-size: 35px;
    color: rgb(82, 82, 82);
  }

  .fa-circle-play,.fa-circle-pause{
    font-size: 35px;
    color: rgb(7, 216, 7);
  }

  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav-text{
    margin-top: 100px;
  }

  #under{
    margin-top: 50px;
    margin-left: 10px ;
    width: 90%;
    color: white;
  }

  /* Style page content */
  .main {
    margin-left: 250px; /* Same as the width of the sidebar */
    margin-top: 150px;
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .console{
    background-color: #002f8b;
  }

  .play-Image{
    border-radius: 10%;
  }

  .progress{
    height: 3px;
    accent-color: rgb(7, 216, 7);
  }
  .volume-progress{
    width:100px ;
  }


  .hidden{
    display: none;
  }